// File: _variables.scss

$font-family: "Nunito Sans", sans-serif;

/*(Dark Mode Elements)*/
$Dark-Blue: hsl(209, 23%, 22%);

/*(Dark Mode Background*/
$Very-DarkBlue: hsl(207, 26%, 17%);

/*(Light Mode Text)*/
$Very-DarkBlue: hsl(200, 15%, 8%);

 /*(Light Mode Input)*/
$Dark-Gray: hsl(0, 0%, 52%);

/*(Light Mode Background)*/
$Very-LightGray: hsl(0, 0%, 98%);

/*(Dark Mode Text & Light Mode Elements)*/
$whiteColor: hsl(0, 0%, 100%);